#!/usr/bin/make -f
# -*- makefile -*-
# OpenModelica debian/rules that uses debhelper.
# Based on a sample file with GNU copyright 1997 to 1999 by Joey Hess.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

DEB_HOST_GNU_TYPE   ?= $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)
DEB_HOST_MULTIARCH  ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)

# since we updated the copyright in .g files we need to set UTF8 as otherwise ANTLR parser barks on {\"o}
export LC_ALL = C.UTF-8

DEST  = $(CURDIR)/debian/tmp
BUILD = $(CURDIR)/obj-$(DEB_HOST_GNU_TYPE)

CC  = clang
CXX = clang++

ifeq (arm-linux-gnueabihf,$(DEB_HOST_GNU_TYPE))
	CPP_RUNTIME = OFF
else
	CPP_RUNTIME = ON
endif

OPTFLAG = -Os
ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	OPTFLAG = -O0
endif

PARALLEL = $(patsubst parallel=%,%,$(filter parallel=%,$(DEB_BUILD_OPTIONS)))
ifneq (,$(PARALLEL))
	BUILDFLAGS = --parallel $(PARALLEL)
endif

build: build-stamp
build-arch: build
build-indep: build

build-stamp:
	dh_testdir
	# No git in the tarball; REVISION is the same version in dpkg's spelling.
	test -e OMVERSION.txt || test ! -e REVISION || sed -e 's,^,v,' -e 'y,~,-,' REVISION > OMVERSION.txt
	cmake -S . -B $(BUILD) -Wno-dev \
	-DCMAKE_INSTALL_PREFIX=/usr \
	-DCMAKE_BUILD_TYPE=Release \
	-DCMAKE_C_COMPILER="$(CC)" \
	-DCMAKE_CXX_COMPILER="$(CXX)" \
	-DCMAKE_C_FLAGS_RELEASE="$(OPTFLAG) -DNDEBUG" \
	-DCMAKE_CXX_FLAGS_RELEASE="$(OPTFLAG) -DNDEBUG" \
	-DOM_USE_CCACHE=OFF \
	-DOM_ENABLE_TESTSUITE=OFF \
	-DOM_ENABLE_DOCS=OFF \
	-DOM_ENABLE_GUI_CLIENTS=ON \
	-DOM_QT_MAJOR_VERSION=6 \
	-DOM_ENABLE_OMSIMULATOR=ON \
	-DOM_OMC_ENABLE_CPP_RUNTIME=$(CPP_RUNTIME) \
	-DOM_OMOPTIM_ENABLE=OFF \
	-DOM_RUST_RESULT_READERS=ON \
	-DOM_RUST_RESULT_WRITERS=ON \
	-DOM_ENABLE_RUST_SIM_RUNTIME=ON
	cmake --build $(BUILD) $(BUILDFLAGS)
	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp
	rm -rf $(BUILD)
	test ! -e REVISION || rm -f OMVERSION.txt
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs -popenmodelica -Pdebian/tmp
	DESTDIR=$(DEST) cmake --install $(BUILD)
	# The cmake omlibrary target would download with /usr/bin/omc, not this omc.
	rm -rf $(BUILD)/omlibrary
	mkdir -p $(BUILD)/omlibrary/.openmodelica/libraries
	cp libraries/install-index.json $(BUILD)/omlibrary/.openmodelica/libraries/index.json
	cd $(BUILD)/omlibrary && $(DEST)/usr/bin/omc $(CURDIR)/libraries/install-index.mos
	mkdir -p $(DEST)/usr/share/omlibrary/cache
	cp libraries/install-index.json $(DEST)/usr/share/omlibrary/cache/index.json
	cp $(BUILD)/omlibrary/.openmodelica/cache/* $(DEST)/usr/share/omlibrary/cache/
	# No language server is published for armhf, so the directory may be absent.
	mkdir -p $(DEST)/usr/share/omedit/ls
	# We add our own Debian-specific copyright file
	rm -f $(DEST)/usr/share/doc/omc/COPYING
	dh_install

binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installdocs
	dh_installexamples
	dh_missing --list-missing
	dh_installmenu
	dh_installmime
	dh_link
	dh_strip
	dh_fixperms
	dh_installdeb
	dh_makeshlibs -V
	dh_shlibdeps -l/usr/lib/$(DEB_HOST_MULTIARCH)/omc -Lomc -- --ignore-missing-info
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
